@font-face {
    font-family: 'Crimson Text';
    src: url(CrimsonText-Roman.ttf) format('truetype');
}
body, html {
    background-color: #F6F6F6;
    font-family: 'Crimson Text', sans-serif;
}
header {
    background-color: #1D1D1D;
    background: url('../banner.jpg');
    padding: 0.5rem;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}
header button,
header select {
    background-color: #1D1D1D;
    border: 1px solid #01C3F0;
    border-radius: 4px;
    color: #01C3F0;
    font-size: 1.4rem;
    margin: 1rem;
}
header button {
    color: #F6F6F6;
}
article {
    width: 94%;
    margin: 7rem 3% 0 3%;
}
article.hide-numbers span.section-number {
    display: none;
}
a {
    color: #1D4B9A;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
pre {
    overflow: scroll;
}
code {
    background-color: #FBFBFB;
}
span.section-number {
    margin-right: 1rem;
}
span.task-status {
    border: 1px solid #B0B0B0;
    border-radius: 4px;
    font-family: monospace;
    font-size: 1rem;
    padding: 0.25rem;
    margin: 0 0.5rem 0 0;
}
span.task-status.todo {
    background-color: #EF746F;
    color: #562C2A;
}
span.task-status.done {
    background-color: #B3CC57;
    color: #643432;
}
body.loading #preloader {
    display: inline-block;
}
#preloader {
    display: none;
    text-align: center;
    width: 100%;
}
#preloader img {
    display: inline-block;
}